.Annotations{
  width:60%;
  height: 86.2%;
  position: absolute;
  top: 8%; left: 30.5%;
  border: 5px solid $black;
  .PleuralEffusion {
    border-color:$white;
  }
  .Airway {
    border-color:lightgreen;
  }
  .Breathing {
    border-color:lightgreen;
  }
  .Cardiac {
    border-color:lightgreen;
  }
  .Unclear {
    border-color:lightgray;
  }
  .toggle{
    position: absolute;
    z-index: 900;
    top: -8.5%;
    left: 20%;
    outline: none; border: 0px;
    font-size: 1.111vw;
  }
  .showAll{
    position: absolute;
    z-index: 900;
    top: -8.5%;
    left: 3%;
    outline: none; border: 0px;
    font-size: 1.111vw;
  }
  .pressed_t{
    position: absolute;
    z-index: 900;
    top: -8.5%;
    left: 20%;
    outline: none; border: 0px;
    font-size: 1.111vw;
    background-color: $darkGrey;
  }
  .pressed_s{
    position: absolute;
    z-index: 900;
    top: -8.5%;
    left: 3%;
    outline: none; border: 0px;
    font-size: 1.111vw;
    background-color: $darkGrey;
  }
  .a1{ //central trachea
    position: absolute;
    z-index: 900;
    top: 3%; left: 15%;
  }
  .a2{ //clear left lung
    position: absolute;
    z-index: 900;
    top: 15%; left: 35%;
  }
  .a3{ //Normal position of left...
    position: absolute;
    z-index: 900;
    top: 24%; left: 20%;
  }
  .a4{ //Minor blunting of the left...
    position: absolute;
    z-index: 900;
    top: 46%; left: 40%;
  }
  .a5{ //Meniscus present
    position: absolute;
    z-index: 900;
    top: 12%; left: -10%;
  }
  .a6{ //Homogenous opacity
    position: absolute;
    z-index: 900;
    top: 28%; left: -7%;
  }
  .a7{ //the right hemidiaphragm
    position: absolute;
    z-index: 900;
    top: 43%; left: 2%;
  }
  .a8{ //obliteration of the right costophrenic angle..
    position: absolute;
    z-index: 900;
    top: 58%; left: -3%;
  }
  .a9{
    position: absolute;
    z-index: 900;
    top: 9%; left: 6%;
  }
  textarea {
    position: relative;
    z-index: 900;
    background-color: rgba(0,0,0,.1);
    color: $white;
    resize: none;
    font-size: 16px;
  }

}

$baseWidth: 1094;
$baseHeight: 898;

@function divideWidth($width){
  @return percentage($width/$baseWidth);
}

@function divideHeight($height){
  @return percentage($height/$baseHeight);
}

@mixin circle($width, $height, $left, $top){
  border-radius: 100%;
  position: absolute;
  width: divideWidth($width);
  height: divideHeight($height);
  left: divideWidth($left);
  top: divideHeight($top);
  background: rgba(238, 101, 101, 0.45);
}

.c1p11s11{ //edema
  @include circle(805, 361, 157, 500);
}

.c2p11s11{ //support device
  @include circle(124, 114, 923, 200);
}

.c3p11s11{ //support device
  @include circle(100, 91, 348, 314);
}
