.Annotations{
  width:1000px;
  height: 1000px;
  position: absolute;
  top: 4%; left: 50%;
  .PleuralEffusion {
    border-color:$white;
  }
  .Airway {
    border-color:lightgreen;
  }
  .Breathing {
    border-color:lightgreen;
  }
  .Cardiac {
    border-color:lightgreen;
  }
  .Unclear {
    border-color:lightgray;
  }
  .toggle{
    position: absolute;
    z-index: 900;
    top: -2%;
    left: -3%;
    outline: none; border: 0px;
    font-size: 1.111vw;
  }
  .showAll{
    position: absolute;
    z-index: 900;
    top: -2%;
    left: -14%;
    outline: none; border: 0px;
    font-size: 1.111vw;
  }
  .pressed_t{
    position: absolute;
    z-index: 900;
    top: -2%;
    left: -3%;
    outline: none; border: 0px;
    font-size: 1.111vw;
    background-color: $darkGrey;
  }
  .pressed_s{
    position: absolute;
    z-index: 900;
    top: -2%;
    left: -14%;
    outline: none; border: 0px;
    font-size: 1.111vw;
    background-color: $darkGrey;
  }
  .a1{ //central trachea
    position: absolute;
    z-index: 900;
    top: 3%; left: 15%;
  }
  .a2{ //clear left lung
    position: absolute;
    z-index: 900;
    top: 15%; left: 35%;
  }
  .a3{ //Normal position of left...
    position: absolute;
    z-index: 900;
    top: 24%; left: 20%;
  }
  .a4{ //Minor blunting of the left...
    position: absolute;
    z-index: 900;
    top: 46%; left: 40%;
  }
  .a5{ //Meniscus present
    position: absolute;
    z-index: 900;
    top: 12%; left: -10%;
  }
  .a6{ //Homogenous opacity
    position: absolute;
    z-index: 900;
    top: 28%; left: -7%;
  }
  .a7{ //the right hemidiaphragm
    position: absolute;
    z-index: 900;
    top: 43%; left: 2%;
  }
  .a8{ //obliteration of the right costophrenic angle..
    position: absolute;
    z-index: 900;
    top: 58%; left: -3%;
  }
  .a9{
    position: absolute;
    z-index: 900;
    top: 9%; left: 6%;
  }
  textarea {
    position: relative;
    z-index: 900;
    background-color: rgba(0,0,0,.1);
    color: $white;
    resize: none;
    font-size: 16px;
  }

}
