$trans_x_amount: 50%; //translate x amount for columns
$trans_x_amount_h: 10%; //translate x amount for headers


.DiffDiagTitle{
  h1{
    position:absolute; top: 20px; left:400px;
    font-size: 15px;
  }
  @include translateX($trans_x_amount_h);
}

.ImpressionTitle{
  h1{
    position:absolute; top: 20px; left:700px;
    font-size: 15px;
  }
  @include translateX($trans_x_amount_h);
}

.ExamTitle{
  h1{
    position:absolute; top: 20px; left:950px;
    font-size: 15px;
  }
  @include translateX($trans_x_amount_h);
}

.DiffDiag{
  position:absolute; top: 40px; left: 305px;
  button{
    height: 75px; width: 250px; left: 100px; outline: none; border: 0px solid;
  }
  .buttonGroup{
    .pressed{
      background-color: aqua;
    }
  }
  ul li{
    list-style-type:none!important; margin:0px;
  }
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  @include translateX($trans_x_amount);
}

.Impressions{
  position:absolute; top: 40px; left: 575px;
  button{
    height: 75px; width: 250px; left: 100px; outline: none; border: 0px solid;
  }
  .buttonGroup{
    .pressed{
      background-color: magenta;
    }
  }
  ul li{
    list-style-type:none!important; margin:0px;
  }
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  @include translateX($trans_x_amount);
}

.Exam2{
  .scroll{
    position: absolute;
    top: 45px; left: 885px;
    height: 90%; width: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
    .pressed{
      background-color: lightgreen;
    }
  }
  button {
    height: 75px; width: 250px; left: 100px;
    @include translateX($trans_x_amount);
    outline: none; border: 0px solid;
  }

}
