$trans_x_amount: 60%; //translate x amount for columns
$trans_x_amount_h: 70%; //translate x amount for headers
$trans_y_amount: 20%; //translate y amount for columns
$trans_y_amount_h: 700%; //translate x amount for headers






.impressionHeader{
  position:absolute;
  top:0.1%; left:19%;
  @include translate($trans_x_amount_h, -150%);
  font-size: 15px;
  font-weight: bold;
}
.ExamTitle{
  h1{
    position:absolute; top: 20px; left:1010px;
    @include translate($trans_x_amount_h, $trans_y_amount_h);
    font-size: 15px;
    font-weight: bold;
  }
}

.Columns{
  .DiffDiag{
    position:absolute; top: 40px; left: 305px;
    button{
      height: 75px; width: 250px; left: 100px; outline: none; border: 0px solid;
    }
    .buttonGroup{
      .pressed{
        background-color: aqua;
      }
    }
    ul li{
      list-style-type:none!important; margin:0px;
    }
    font-size: 15px;
    position: absolute;
    bottom: 10%;
    @include translate($trans_x_amount, $trans_y_amount);
    //@include translateY($trans_y_amount);
  }

  .Observations{
    .observationHeader{
      position:absolute;
      left:43%;
      top: -5%;
      font-size: 15px;
      font-weight: bold;
    }
    position:absolute; top: 22%; left: 55%;
    button{
      height: 75px; width: 250px; left: 100px; outline: none; border: 0px solid;
    }
    .buttonGroup{
      .pressed{
        background-color: magenta;
      }
    }
    ul li{
      list-style-type:none!important; margin:0px;
    }
    .off{
      display: none!important;
    }
    font-size: 15px;
    position: absolute;
    bottom: 10%;
  }

  .Exam{
    .examinationHeader{
      position:absolute;
      left:82%;
      top: 19%;
      font-size: 15px;
      font-weight: bold;
    }
    .scroll{
      position:absolute;
      font-size: 15px;
      top: 23%; left: 78%;
      height: 60%; width: 240px;
      overflow-y: scroll;
      overflow-x: hidden;
      .pressed{
        background-color: lightgreen;
      }
      .red {background-color: lightcoral;}
      .sub3_3 {background-color: $lightBlue; width: 250px; padding-left: 25px;}
      .sub3_8 {background-color: $lightBlue;}
      .dropdown {
        position:absolute; display: inline-block;
        .btn {float:left; width: 25px; height: 75px; background-color: lightcoral;}
      }
    }
    button {
      height: 75px; width: 240px; left:0px;
      outline: none; border: 0px solid;
    }
  }
  .off{
    display: none!important;
  }
}
