//SCSS FOR HOVER WINDOW, USES TEMPLATE FROM _RESULT.SCSS
.HoverWindow {
  @include resultBox(55.3%, 49.57%, absolute, 38.15%, 40.61%);
  .content {
    color: $white;
    position: absolute;
    top: 16%;
    left: -3.4%;
    height: 29.8vh;
    width: 49.319vw;
    z-index: 991;
    .obsDetails {
      ul,
      li {
        list-style-type: none !important;
        list-style-position: inside;
        display: inline-block;
        margin-right: 4.542vw;
        margin-left: 0;
      }
      .imageCaption {
        img {
          display: table;
          margin: 0 auto;
          width: 15.069vw;
        }
      }
      .line {
        position: absolute;
        top: 90%;
        left: 6%;
      }
    }
    .annoDetails {
      ul,
      li {
        list-style-type: none !important;
        list-style-position: inside;
        display: inline-block;
        margin-right: 0vw;
        margin-left: 0;
      }
      .imageCaption {
        // border: 5px solid white;
        width: 18.069vw;
        // height: 29.88888888888889vh;
        @include defaultFont(1.085vw, normal, $white);
        text-align: center;
        img {
          display: table;
          margin: 0 auto;
          width: 12.069vw;
        }
        .moreImageList {
          margin-top: 5px;
          text-align: left;
          ul,
          li {
            list-style-type: none !important;
            list-style-position: inside;
            display: inline-block;
            margin-right: 0.42vw;
            margin-left: 0;
            .imgCaption {
              width: 3.1vw;
              text-align: center;
              @include defaultFont(0.825vw, normal, $white);
              img {
                width: 3.069vw;
              }
            }
          }
        }
      }
    }
    .impressionExplan {
      @include defaultFont(1.125vw, normal, $white);
      .card {
        font-size: 0.833vw;
        color: black;
      }
      .card > .header {
        width: 100%;
        text-align: left;
        @include defaultFont(0.792vw, lighter, black);
      }
      ul,
      li {
        list-style-type: none !important;
        list-style-position: inside;
      }
      .nestedExplan {
        ul,
        li {
          // display: inline-block;
          list-style-type: none !important;
          list-style-position: inside;
          margin-right: 15px;
        }
        .text {
          @include defaultFont(1.125vw, lighter, #b0b0b0);
        }
        .text2 {
          @include defaultFont(1.125vw, regular, white);
        }
      }
    }
  }
}
