.ImageUpload{
  background: $white;
  position: absolute;
	top: 0; right: 1000px; left: 20px;
  .chooseFile{
    text-decoration: none !important;
    font-size: 10px;
  }
  .upload{
    background-color: $white;
  }
}
