$blue: #BDD6FB;
$red: #FAB9B9;
$green: #B2F3CC;
$gray: #C4C4C4;

@mixin ImageSelect($w: 60%, $t:9%) {
  .title{
    @include defaultFont;
    padding-left: 2%;
    padding-top: 2%;
  }
  ul, li{
    list-style-type: none !important;
    list-style-position: inside;
    display: inline-block;
    margin: 0.178vw;
    padding-left: 0.378vw;
    padding-bottom: 3.472vw;
  }
  .imageCaption{
    width: 11.208vw;
    text-align: right;
    @include defaultFont($fontSize: 0.972vw, $fontWeight: regular);
    img{
      height: 8.500vw;
      display: table;
      margin: 0 auto;
    }
  }
  .pressed{
    border: 0.147vw solid $lightBlue;
  }
  position: absolute;
  top: $t;
  left: 45%;
  width: $w;
  height: 70%;
}

.ImageSelect{
  @include ImageSelect;
}
