.ImageUpload{
  // position: static;
  position: absolute;
	top: 0;left: 0; width: 100%;
  height: 6%;
  z-index: 99;
  .chooseFile{
    // text-decoration: none !important;
    font-size: 10px;
    color: $white;
  }
  button{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 21%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
  }
  input[type]{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
  }
}
