.ImageUpload{
  background: $white;
  // position: static;
  position: absolute;
	top: 0; right: 1000px; left: 20px;
  z-index: 1;
  .chooseFile{
    text-decoration: none !important;
    font-size: 10px;
  }
  .upload{
    background-color: $white;
  }
}
.ImageDescriptionLeft{
  font-size: 50px;
}
