.PriorImages{
  .title{
    font-size: 20px;
  }
  ul, li{
    list-style-type: none !important;
    list-style-position: inside;
    display: inline-block;
    margin: 4px;
    padding-left: 0;
  }
  font-size: 10px;
  position: absolute;
  top: 5%;  left: 20px;
  @include translate(60%,-20%);
}

.ImageWindow{
  img.center {
    display: block;
    margin: 0 auto;
  }
  position: absolute;
  left:10%;
}

.ImageDescriptionLeft{
  font-size: 20px;
}

.ImageDescriptionRight{
  position: absolute;
  left:50%;
  font-size: 20px;
}
