@mixin PriorImages($width: 11.21%, $left: 89%, $height: 87%) {
  .title {
    @include defaultFont(0.95vw, normal);
    position: absolute;
    left: 1.28%;
    top: 1%;
  }
  .hiddenTitle {
    @include defaultFont(0.95vw, normal, #5e6375);
    position: absolute;
    left: 48.45%;
    top: 1%;
    cursor: pointer;
  }
  .underline {
    position: absolute;
    width: 5.06vw;
    height: 0vw;
    left: 0.64%;
    top: 3.71%;
    border: 0.11vw solid #42c0fc;
  }
  .ImageGroup {
    ul,
    li {
      //list of image
      list-style-type: none !important;
      list-style-position: inside;
      padding-right: 5px;
      margin-left: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      .imageCaption {
        width: 8vw;
        text-align: right;
        @include defaultFont(0.625vw, normal, $lightBlue);
        img {
          height: 7.5vw;
          display: table;
          margin: 0 auto;
        }
      }
    }
    position: absolute;
    left: 0%;
    top: 7%;
  }
  font-size: 0.694vw;
  position: absolute;
  width: $width;
  height: $height;
  top: 7.55%;
  left: $left;
  background: $darkGrey;
}

.PriorImages {
  @include PriorImages;
}
.PriorImagesOpened {
  @include PriorImages;
}

@mixin AcrossPatient($width: 11.21%, $left: 89%, $height: 87%) {
  .title {
    @include defaultFont(0.95vw, normal);
    position: absolute;
    left: 48.45%;
    top: 1%;
  }
  .hiddenTitle {
    @include defaultFont(0.95vw, normal, #5e6375);
    position: absolute;
    left: 1.28%;
    top: 1%;
    cursor: pointer;
  }
  .underline {
    position: absolute;
    width: 5.06vw;
    height: 0vw;
    left: 48%;
    top: 3.7%;
    border: 0.11vw solid #42c0fc;
  }
  .ImageGroup {
    ul,
    li {
      //list of image
      list-style-type: none !important;
      list-style-position: inside;
      padding-right: 5px;
      margin-left: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      .imageCaption {
        width: 8vw;
        text-align: right;
        @include defaultFont(0.625vw, normal, $lightBlue);
        img {
          height: 6.5vw;
          display: table;
          margin: 0 auto;
        }
      }
    }
    position: absolute;
    left: 1.14%;
    top: 7%;
  }
  font-size: 0.694vw;
  position: absolute;
  width: $width;
  height: $height;
  top: 7.55%;
  left: $left;
  background: $darkGrey;
}

.AcrossPatient {
  @include AcrossPatient;
}

.AcrossPatientOpened {
  @include AcrossPatient;
}

//FROM HERE ON ITS CSS FOR PRIOR IMAGE VIEWING MODE

.headerPriorImage {
  .PatientInfo {
    position: absolute;
    margin: 0;
    top: 1.8%;
    left: 12.78%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.111vw;
    line-height: 1.944vw;
    color: $white;
  }
  .ReturnButton {
    position: absolute;
    z-index: 900;
    top: 1.8%;
    left: 2.22%;
    @include borderButton($white, 8.54%, 3.33%);
  }
  .ShowAnnotation {
    position: absolute;
    z-index: 900;
    top: 1.8%;
    left: 79.86%;
    @include borderButton($white, 8.54%, 3.33%);
  }
  .ShowAnnotation_p {
    position: absolute;
    z-index: 900;
    top: 1.8%;
    left: 79.86%;
    @include borderButton($lightBlue, 8.54%, 3.33%);
  }
  .BookmarkRegions {
    position: absolute;
    z-index: 900;
    top: 1.8%;
    left: 89.65%;
    @include borderButton($white, 8.54%, 3.33%);
  }
  .BookmarkRegions_p {
    position: absolute;
    z-index: 900;
    top: 1.8%;
    left: 89.65%;
    @include borderButton($lightBlue, 8.54%, 3.33%);
  }
}

.PriorImages2 {
  ul,
  li {
    //list of image
    list-style-type: none !important;
    list-style-position: inside;
    display: inline-block;
    margin-bottom: 0.894vw;
    padding-left: 0;
    padding: 10px;
    img {
      height: 8vw;
    }
  }
  font-size: 0.694vw;
  position: absolute;
  top: 80%;
  left: 8.5%;
}

.display {
  .currentImage {
    position: absolute;
    left: 1.8%;
    top: 8%;
    z-index: 0;
    height: 32.75vw;
    width: 39.9249vw;
    .image {
      height: 32.75vw;
      width: 39.9249vw;
    }
    img {
      height: 32.75vw;
      width: 39.9249vw;
    }
    @include defaultFont(0.885vw, normal, $white);
  }
  .priorImage {
    position: absolute;
    left: 45.6%;
    top: 8%;
    height: 32.75vw;
    width: auto;
    z-index: 0;
    @include defaultFont(0.885vw, normal, $white);
    .image {
      height: 32.75vw;
      width: 39.9249vw;
    }
    img {
      height: 32.75vw;
      width: 39.9249vw;
    }
  }
}

.ImageWindow {
  img.center {
    display: block;
    margin: 0 auto;
  }
  position: absolute;
  left: 10%;
}
