.PriorImages{
  ul, li{ //list of image
    list-style-type: none !important;
    list-style-position: inside;
    margin-bottom: 0.894vw;
    padding-left: 0;
  }
  font-size: 0.694vw;
  position: absolute;
  top: 8%;  left: 91%;
}

.display{
  .currentImage{
    position: absolute;
    left: 0px; top: 6%;
  }
  .priorImage{
    position: absolute;
    left: 49.306vw;
    top: 6.5%;
  }
}

.ImageWindow{
  img.center {
    display: block;
    margin: 0 auto;
  }
  position: absolute;
  left:10%;
}
