$blue: #BDD6FB;
$red: #FAB9B9;
$green: #B2F3CC;
$gray: #C4C4C4;
@mixin QuestionInput($top: 7.56%, $left:57.57%, $position: absolute, $width:19.86%, $height: 51.78%){
  .title{
    .text{
      @include defaultFont(1.20vw, normal);
      @include fontAlign(left);
      padding-left: 0.694vw;
    }
    position: absolute;
    width: 100%;
    height: 4.666666666666667vh;
    background: $lightGrey;
  }
  .clear{
    position: absolute;
    top: 11%;
    margin-left: 2%;
    font-size: 0.8vw;
  }
  .selectedInputs{
    position: absolute;
    top: 16%;
    color:$white;
    font-size: 1.042vw;
    margin-left: 2%;
  }
  .buttonGroup{
    position: absolute;
    top: 17%;
    .buttonGroup1{
      @include defaultFont(0.972vw, regular);
      .pressed{
        @include defaultFont(0.872vw, regular, $lightBlue);
        border: 1.5px solid $lightBlue;
      }
      ul, li{
        list-style-type: none !important;
        list-style-position: inside;
        display: inline-block;
        margin: 0.278vw;
        padding-left: 0;
        padding-top: 0;
      }
      button{
        background-color: transparent;
        @include defaultFont(0.872vw, lighter);
        border: 1.5px solid $white;
      }
    }
    .buttonGroup2{
      @include defaultFont(0.972vw, regular);
      .pressed{
        @include defaultFont(0.872vw, regular, $lightBlue);
        border: 1.5px solid $lightBlue;
      }
      ul, li{
        list-style-type: none !important;
        list-style-position: inside;
        display: inline-block;
        margin: 0.278vw;
        padding-left: 0;
        padding-top: 0;
      }
      button{
        background-color: transparent;
        @include defaultFont(0.872vw, regular);
        border: 1.5px solid $white;
      }
    }
    .buttonGroup3{
      @include defaultFont(0.972vw, regular);
      .pressed{
        @include defaultFont(0.872vw, regular, $lightBlue);
        border: 1.5px solid $lightBlue;
      }
      ul, li{
        list-style-type: none !important;
        list-style-position: inside;
        display: inline-block;
        margin: 0.278vw;
        padding-left: 0;
        padding-top: 0;
      }
      button{
        background-color: transparent;
        @include defaultFont(0.872vw, regular);
        border: 1.5px solid $white;
      }
    }
  }
  button{
    background-color: transparent;
    @include defaultFont(0.872vw, regular);
    border: 1.5px solid $white;
  }
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: $darkGrey;
}

.QuestionInput{
  @include QuestionInput(10%, 2%, absolute, 37%, 50%);
}

.QuestionInputDialog{
  @include QuestionInput(5%, 2%, absolute, 90%, 55.55555555555556vh);

}

//NO LONGER USED, BECAUSE MINIMIZED IS DEPRECATED
.QuestionInputTitle{
  position: absolute;
  top: 75%; right: 1100px; left: 20px;
  @include translate(0%, 30%);
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .selectedInputs{
    font-size: 15px;
  }
}
