@mixin inputsSelected($top: 9.31%, $position: absolute, $minheight: 16%){
  .title{
    font-size: 1.389vw;
    font-style: normal;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
  }
  ul, li{
    list-style-type: none !important;
    list-style-position: inside;
    display: inline-block;
    li{
      padding: 0.347vw;
      background: $white;
      font-family: 'Roboto', sans-serif;
      font-size: 0.972vw;
    }
    margin: 0.5vw;
    padding-left: 0;
    padding-top: 0.494vw;
    padding-bottom: 0.694vw;
  }
  display: flex;
  flex-direction: column;
  position: $position;
  top: $top;
  left: 2%;
  width: 36.1%;
  min-height: $minheight;
  background: $gray;
}

.QuestionInputSelected{
  @include inputsSelected;
}

.TimeConstraintSelected{
  @include inputsSelected(31%, absolute, 12%);
}
