$blue: #BDD6FB;
$red: #FAB9B9;
$green: #B2F3CC;
$gray: #C4C4C4;

@mixin QuestionInput($w: 37%, $t:12%, $position: absolute) {
  .title{
    font-size: 1.389vw;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 2%;
  }
  .clear{
    margin-left: 2%;
    font-size: 0.8vw;
  }
  .selectedInputs{
    font-size: 1.042vw;
    margin-left: 2%;
  }
  .buttonGroup1{
    font-size:1vw;
    font-family: 'Roboto', sans-serif;
    .pressed{
      border: 0.208vw solid #2D9CDB;
    }
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      display: inline-block;
      margin: 0.278vw;
      padding-left: 0;
      padding-top: 0;
    }
    button{
      background-color: $blue;
    }
  }
  .buttonGroup2{
    font-size:1vw;
    .pressed{
      border: 0.208vw solid #EB5757;
    }
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      display: inline-block;
      margin: 0.278vw;
      padding-left: 0;
      padding-top: 0
    }
    button{
      background-color: $red;
    }
  }
  .buttonGroup3{
    font-size:1vw;
    .pressed{
      border: 0.208vw solid #27AE60;
    }
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      display: inline-block;
      margin: 0.278vw;
      padding-left: 0;
      padding-top: 0
    }
    button{
      background-color: $green;
    }
  }
  position: $position;
  top: $t;
  left: 2%;
  width: $w;
  height: 50%;
}

.QuestionInput{
  @include QuestionInput;
  background: $gray;
}

.QuestionInputDialog{
  @include QuestionInput(95%, 0%, relative);
}

//NO LONGER USED, BECAUSE MINIMIZED IS DEPRECATED
.QuestionInputTitle{
  position: absolute;
  top: 75%; right: 1100px; left: 20px;
  @include translate(0%, 30%);
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .selectedInputs{
    font-size: 15px;
  }
}
