//result box is used for Observations and Differential Diagnosis
@mixin resultBox($top: 7.56%, $left:57.57%, $position: absolute, $width:19.86%, $height: 51.78%){
  .title{
    .text{
      @include defaultFont(1.20vw, normal);
      @include fontAlign(left);
      padding-left: 0.694vw;
    }
    position: absolute;
    width: 100%;
    height: 4.666666666666667vh;
    background: $lightGrey;
  }
  .obList{ //list of items concerning DD or Observations
    position: absolute;
    top: 4%;
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      li{
        @include defaultFont(1.111vw, medium, #CDCDCD);
      }
      margin: 0.8vw;
      padding-left: 0;
      padding-top: 0.494vw;
      padding-bottom: 0.694vw;
    }
  }
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: $darkGrey;
}

.queryList{
  position: absolute;
  top: 3%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.Observations{
  @include resultBox;
}

.Impressions{
  @include resultBox(7.56%, 78.26%);
}

.HoverWindow{
  @include resultBox(60.66%, 57.57%, absolute, 40.62%, 37.11%);
}

.imageDisplayWindow{
  position: absolute;
  top: 7.55%; left:1.04%;
  height: 67.9%;
  width: 55.2%;
  .imageDisplay{
    display: table;
    margin: 0 auto;
    height: 100%;
  }
}
