@mixin resultBox($top: 9.31%, $position: relative, $minheight: 16%){
  .title{
    font-size: 1.389vw;
    font-style: normal;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
  }

  display: inline-block;
  flex-direction: column;
  position: $position;
  top: $top;
  left: 2%;
  width: 36.111vw;
  min-height: $minheight;
  background: $gray;
}

@mixin resultBoxButton($top: 9.31%, $position: relative, $minheight: 13%){
  @include resultBox($top, $position, $minheight);
  ul, li{
    list-style-type: none !important;
    list-style-position: inside;
    display: inline-block;
    li{
      padding: 0.347vw;
      background: $white;
      font-family: 'Roboto', sans-serif;
      font-size: 0.972vw;
    }
    margin: 0.5vw;
    padding-left: 0;
    padding-top: 0.494vw;
    padding-bottom: 0.694vw;
  }
}

@mixin rectangle{
  width: 36.111vw;
  height: 3.472vw;
  background: #FFFFFF;
  border: 0.069vw solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0.278vw 0.278vw rgba(0, 0, 0, 0.25);
}

.QuestionInputSelected{
  @include resultBoxButton;
}

.TimeConstraintSelected{
  @include resultBoxButton(25%, relative, 12%);
}

.results{
  position: absolute;
  top: 10%;
  width:100%;
  display: flex;
  flex-direction: column;
}

@mixin resultBox2($top: 40%, $top2: 21.5%){
  @include resultBox($top, relative, 16%);
  .rectangle{
    @include rectangle;
  }
  .obList{
    position: absolute;
    top: $top2;
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      li{
        padding: 0.347vw;
        padding-bottom: 0.8vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.972vw;
      }
      margin: 0.8vw;
      padding-left: 0;
      padding-top: 0.494vw;
      padding-bottom: 0.694vw;
    }
  }
}

.Observations{
  @include resultBox2;
}

.Impressions{
  @include resultBox2(80%, 17%);
}

.imageDisplay{
  position: absolute;
  top: 6%; left:38.5%;
  width: 50%;
}
