.slideBar{
  h1{
    font-size: 17px;
    margin-bottom: 19px;
    font-weight: bold;
  }
  position: absolute;
  margin: 10%;
  height: 120px;
  width: 100%;
  top: 56%;
  left: 8%; right: 5%;
  display: flex;
  flex-direction: row;
}
