@mixin TimeConstraint($w: 37%, $t: 65%, $position: absolute){
  .title{
    .text{
      @include defaultFont(1.20vw, normal);
      @include fontAlign(left);
      padding-left: 0.694vw;
    }
    position: absolute;
    width: 100%;
    height: 4.666666666666667vh;
    background: $lightGrey;
  }
  .selectedInputs{
    font-size: 1.042vw;
    margin-left: 2%;
  }
  .buttonGroup1{
    position: absolute;
    top: 29%;
    @include defaultFont(0.972vw, regular);
    .pressed{
      @include defaultFont(0.872vw, regular, $lightBlue);
      border: 1.5px solid $lightBlue;
    }
    ul, li{
      list-style-type: none !important;
      list-style-position: inside;
      display: inline-block;
      margin: 0.278vw;
      padding-left: 0;
      padding-top: 0;
    }
    button{
      background-color: transparent;
      @include defaultFont(0.872vw, lighter);
      border: 1.5px solid $white;
    }
  }
  position: $position;
  top: $t;
  left: 2%;
  width: $w;
  height: 20%;
  background: $darkGrey;
}

.TimeConstraint{
  @include TimeConstraint;
}

.TimeConstraintResult{
  @include TimeConstraint($w: 90%, $t:0%, $position: relative);
}
