
@import "_colors.scss"; //needs to be the first one as other files use the colors
@import "_ImageUpload.scss";
@import "_PriorImages.scss";
@import "_QuestionInput.scss";
@import "_Results.scss";
@import "_TimeConstraint.scss";
@import "_Annotations.scss";
@import "_Header.scss";
@import "_Dialog.scss";

body{
  font-size: 10px;
}

.overlay{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 990; /* Specify a stack order in case you're using a different order for other elements */
}

.divider{
    width:10px;
    height:auto;
    display:table-cell;
}

.divider2{
    width:50px;
    height:auto;
    display:table-cell;
}

.divider3{
  width:auto;
  position: absolute;
  height: 50%;
}

.test{
  position: absolute;
  top: 80%; left:50%;
}

.blah{
  display: table-cell;
}

.blah2{
  display: table-cell;
}

.prevNext{
  position: absolute;
  right:200px;
}

#SendButton{
  position: absolute;
  top:80%; left:38%;
  font-size: 20px;
  visibility: hidden;
}
