@import "_colors.scss"; //needs to be the first one as other files use the colors
@import "_ImageUpload.scss";
@import "_PriorImages.scss";
@import "_PatientInfo.scss";
@import "_QuestionInput.scss";
@import "_Columns.scss";

body{
  font-size: 10px;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.test{
  position: absolute;
  top: 80%;
}
