@import "_colors.scss"; //needs to be the first one as other files use the colors
@import "ImageUpload.scss";
@import "_PriorImages.scss";
@import "_PatientInfo.scss";
@import "_QuestionInput.scss";

body{
  font-size: 10px;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.DiffDiag{
  //border: 1px solid black;
  font-size: 20px;
  position: absolute;
  top: 3%; right: 40%; left: 30%;
  bottom:10%;
}
